<section>
  <% if address.persisted? %>
    <% url = user_address_path(@user, address) %>
    <% method = :patch %>
  <% else %>
    <% url = user_addresses_path(@user) %>
    <% method = :post %>
  <% end %>

  <%= form_with model: [address.user, address], local: true, url: url, method: method do |form| %>
    <div class="field">
      <%= form.label :street %>
      <%= form.text_field :street %>
    </div>

    <div class="field">
      <%= form.label :city %>
      <%= form.text_field :city %>
    </div>

    <div class="field">
      <%= form.label :postal_code %>
      <%= form.text_field :postal_code %>
    </div>

    <div class="field">
      <%= form.label :province_id %>
      <%= form.collection_select :province_id, Province.all, :id, :name %>
    </div>
    <%= form.submit %>
  <% end %>
</section>