<%= form_with model: [:admin, @product], local: true, html: { multipart: true } do |f| %>
  <% if @product.errors.any? %>
    <div>
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :category_id, "Category" %>
    <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: "Select a Category" } %>
  </div>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description, rows: 4 %>
  </div>

  <div>
    <%= f.label :price, "Price (in cents)" %>
    <%= f.number_field :price %>
  </div>

  <div>
    <%= f.label :quantity_in_stock, "Quantity in Stock" %>
    <%= f.number_field :quantity_in_stock %>
  </div>

  <div>
    <%= f.check_box :on_sale %>
    <%= f.label :on_sale, "On Sale?" %>
  </div>

  <div>
    <%= f.label :images, "Upload Product Images" %>
    <%= f.file_field :images, multiple: true, direct_upload: true %>
    <p>You can select multiple images</p>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>