<h2>Products</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.category.name %></td>
        <td><%= product.price %></td>
        <td><%= product.quantity_in_stock %></td>
        <td>
          <a href="<%= edit_admin_product_path(product) %>">Edit</a>
          <a href="<%= admin_product_path(product) %>" data-turbo-method="delete">Delete</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
