<div class="product-detail-card">
  <div class="detail-image">
    <% if @product.images.attached? %>
      <% @product.images.each do |image| %>
        <%= image_tag image, alt: @product.name, class: "detail-product-image" %>
      <% end %>
    <% else %>
      <div class="placeholder-image">No Images</div>
    <% end %>
  </div>

  <div class="detail-info">
    <h2><%= @product.name %></h2>

    <h3>Category</h3>
    <p><%= @product.category.name %></p>

    <h3>Price</h3>
    <p>$<%= @product.price / 100.0 %></p>

    <h3>Stock</h3>
    <p><%= @product.quantity_in_stock %></p>

    <% if @product.on_sale %>
      <h3>Sale</h3>
      <p>ON SALE!</p>
    <% end %>

    <h3>Description</h3>
    <p><%= @product.description %></p>

    <%= button_to "Add to Cart", add_to_cart_path(@product), method: :post %>
  </div>
</div>
